
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i>
                        010 5678 3431
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i>
                        jeff8014@gmail.com
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- Login Panel-->
                    <div class="user-panel">
                        <%if(!email){ %>
                        <a href=""><i class="fa fa-user-circle-o"></i> Register</a>
                        <a href="./login"><i class="fa fa-sign-in"></i> Login</a>
                        <% }else{ %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= name %></a>
                        <a href="http://localhost:3000/logout"><span class="glyphicon glyphicon-log-out"></span>로그아웃</a>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <!-- <a href="#" class="site-logo"><img src="img/logo.png" style="width:auto;height:80px" alt=""></a> -->
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a href="/">
                                Home
                            </a></li>
                        <!-- <li><a href="categories.html">FEATURED LISTING</a></li>
													<li><a href="about.html">ABOUT US</a></li> -->
                        <li><a href="./community">
                                커뮤니티
                            </a></li>
                        <li><a href="./categories">
                                매물정보
                            </a></li>
                        <li><a href="./about">
                                연락
                            </a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>